
a {
  text-decoration: none;
  color: rgb(4, 24, 102);
}

.nav-link{
  padding: 12px;
  background: rgb(206, 220, 241);
  border-radius: 8px;
}

header{
  background: rgb(62, 101, 193);
  margin: 0;
}

.index-page{
  
  background-color:rgb(183, 207, 222);
  

  h1 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  nav {
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }

  p{
    margin-top: 50px;
    font-size: 13pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }

  h2{
    margin-top: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }

  li{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-left: 300px;
  }
}

.course-page {
  background-color: rgb(183, 207, 222);
  padding:50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  h1{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

  }


  li {
    font-size: 14pt;
    margin-left: 300px;
    text-align: left;
    margin-bottom: 20px;
  } 

  p {
    font-size: 15pt;
    margin-left: 300px;
    text-align: left;
    margin-bottom: 20px;
  }

  h2{
    margin-left: 200px;
    margin-top: 30px;
  }

  h3{
    margin-left: 300px;
    margin-top: 30px;
    text-align: left;
    font-size: 16pt;
  }

  .box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  }


}